.navigation{
    text-align:right;
}

.navigation p{
    font-family: 'Josefin Sans', sans-serif;
    font-size:18px;
    color:black;
}

.navigation p:hover{
    color:#cccccc;
    cursor:pointer;
    cursor:hand;
}

.title{
    float:left;
}

.title h1{
    font-size:35px;
    font-family: 'Monoton', cursive;
    color:#aaaaaa;
}

.title h1:hover{
    cursor:pointer;
    cursor:hand;
}

.title em{
    color:#FF8080;
    font-style:normal;
    font-size:50px;
}

#click-overlay{
    position:absolute;
    z-index: 995;
    width:100%;
    height:100%;
}

#click-overlay:hover{
    cursor:pointer;
    cursor:hand;
}

.icons{
    float:right;
    margin-top:30px;
}

a:hover{
    text-decoration: none;
}

#wrapper-content{
    width:100%;
    height:100%;
}

#subsection{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding-left:14px;
    padding-right:14px;
    z-index:1;
}


.gallery-image{
    opacity:.15;
    -moz-opacity: 0.15;
    opacity:.15;
    filter: alpha(opacity=15);
}

.gallery-overlay{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    background-image:url("../img/trans-black-bg.png");
    -moz-opacity: 0;
    opacity:0;
    filter: alpha(opacity=0);
    z-index:10;
}

.gallery-overlay:hover{
    cursor:pointer;
    cursor:hand;
}

.gallery-overlay span{
  position:relative;
  top:60%;
  color:white;
  font-size:25px;
}

#contact{
    position:absolute;
    width:100%;
    height:100%;
    padding-left:20%;
    padding-right:20%;
    background-color:#dddddd;
}

#bio{
    position:absolute;
    width:100%;
    height:400px;
    display:inline;
}

#bio-left-column{
    position:absolute;
    width:50%;
    height:100%;
    top:0;
    left:0;
    background-color:#aaaaaa;
}

#bio-right-column{
    position:absolute;
    width:50%;
    height:100%;
    top:0;
    left:50%;
    background-color:#cccccc;
    padding:10px;
}

#bio-right-column img{
    width:65%;
    float:left;
    margin:8px;
    padding:10px;
}

#gallery{
    position:absolute;
    width:100%;
    z-index:0;
}

#slides img{
    max-height:100%;
}

#gallery img{
}

#gallery{
    border-left:solid;
    border-width:1px;
}

.resizedImage{
    height:100% !important;
    width: auto !important;
    margin:0 auto;
}

body{
    min-width:500px !important;
}
